version: '3.0'
services:
  redis:
    image: "{{ app_redis_image }}:{{ app_redis_tag }}"
    container_name: redis
    volumes:
      - ./redis_data:/data
    networks:
      - internal

  redis-exporter:
    image: "{{ app_redis_exporter_image }}:{{ app_redis_exporter_tag }}"
    environment:
      REDIS_ADDR: "{{ app_redis_addr }}"
    depends_on:
      - redis
    networks:
      - internal

  prometheus:
    image: "{{ app_prometheus_image }}:{{ app_prometheus_tag }}"
    user: "{{ docker_uid }}"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus_data:/prometheus
    ports:
      - "{{ app_prometheus_host_port }}:9090"
    networks:
      - internal
      - web

  grafana:
    image: "{{ app_grafana_image }}:{{ app_grafana_tag }}"
    user: "{{ docker_uid }}"
    ports:
      - "{{ app_grafana_host_port }}:3000"
    volumes:
      - ./grafana_data:/var/lib/grafana
      - ./grafana.json:/etc/grafana/provisioning/dashboards/app_dashboard.json
      - ./dashboard.yml:/etc/grafana/provisioning/dashboards/dashboard.yml
      - ./datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
    networks:
      - web

  app:
    image: "{{ app_image_name }}:{{ app_image_tag }}"
    container_name: app
    environment:
      DEMO_APP_ADDR: ":{{ app_addr }}"
      DEMO_REDIS_ADDR: "{{ app_redis_addr }}"
    depends_on:
      - redis
    networks:
      - internal

  nginx:
    image: "{{ app_nginx_image }}:{{ app_nginx_tag }}"
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf

      {% if app_use_ssl -%}
      - ./server.crt:/etc/nginx/certs/server.crt
      - ./server.key:/etc/nginx/certs/server.key
      {% endif %}

    environment:
      NGINX_HOST: {{ app_nginx_host }}
      DEMO_APP_ADDR: {{ app_addr }}
    ports:
      {%+ if app_use_ssl %}
      - "{{ app_nginx_host_port }}:443"
      {%+ else %}
      - "{{ app_nginx_host_port }}:80"
      {% endif %}

    depends_on:
      - app
    networks:
      - internal
      - web

networks:
  internal:
  web: